/*a
{
	color: #6675df;
}*/
.no-account, .no-account-a
{
	/*font-family: Montserrat-Regular;*/
	line-height: 1.4;
	color: #555555;
}
.no-account-a
{
	/*font-family: Montserrat-Regular;*/
	line-height: 1.4;
	font-weight: 400 !important;	
}
.login100-more
{
	opacity: 1;
}
.wrap-input100
{
	border: 1px solid #b7b7b7;
}
.scrollto
{
	font-size: 34px;
	line-height: 1;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	letter-spacing: 3px;
}
/*#header #logo h1 a, #header #logo h1 a:hover
{
	color: #000;
	padding-left: 10px;
	border-left: 4px solid #18d26e;
}*/
/*#footer
{
	position: fixed;
	bottom: 0;
	left: 0;
	background: 0;
	padding-left: 60px;
}*/
.login100-form-btn
{
	background-color: #000;
}
@media only screen and (min-width: 768px) 
{
	.go-back-phone
	{
		display: none;
	}
}
.login100-form
{
	/*padding-top: 49px;*/
}
.label-input100
{
	top: 22px;
}
.wrap-input100
{
	height: 67px;
}