#header {
    background: rgba(0, 0, 0, 0.9);
}

#about .container

/*distance from top*/
    {
    padding-top: 69px;
}

.text-note

/*zip code notice*/
    {
    font-size: 14px;
    line-height: 24px;
    color: gray;
}

.custom-control-label

/*to remove green colored text*/
    {
    color: #666666 !important;
}

h4,
h6 {
    color: #464545 !important;
}